---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Get In Touch</h2>
			<p class="pb-0 text-xl">
				Want to join the community and get involved? You're in the right place
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Chat"
				subtitle="Hang out with our friendly community on Matrix"
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://matrix.to/#/#fossiaorg:matrix.org"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Code"
				subtitle="Contribute code to our projects by peeking at our GitHub"
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://github.com/fossiaorg"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Socials"
				subtitle="Follow us on social media to stay up-to-date"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Feedback"
				subtitle="Provide feedback to improve our initiatives and projects."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="mailto:fossia@riseup.net"
			/>
		</Col>
	</Row>
</Section>
