---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
// - Avatars
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center" classes="space-x-8 space-y-4 mb-4">
			<h1>Building an inclusive <strong>Indian FOSS ecosystem</strong></h1>
			<Button size="lg" link="/projects">Explore Projects</Button>
			<Button size="lg" link="https://matrix.to/#/#fossiaorg:matrix.org">Join Discussion</Button>
		</Col>
		<Col span="8">
	</Row>
</Section>
